.comment{
    background-color: $bg_section;
    padding: 45px 0 150px;
}
.comment-title{
    margin-bottom: 75px;
}
.comment-form{
    width: 100%;
    max-width: 670px;
    @include flex;
    flex-wrap: wrap;
    input, textarea, select{
        width: 100%;
        padding: 10px 20px;
        border: 1px solid $font-gray;
        box-sizing: border-box;
        @include text-style_main($weight_normal, $font_black, 22px);
        &::-moz-placeholder {
            opacity: 1;
        }
        &::-webkit-input-placeholder {
            opacity: 1;
        }
        &:invalid{
            box-shadow: none;
        }
    }
    textarea{        
        resize: none;
        margin-bottom: 50px;
        box-shadow: none;
        outline: none;   
    }
}
.comment-inputs{
    min-width: 55%;
    width: 100%;
    input, select{
        display: block;
        margin-bottom: 35px;
        outline: none; 
    }
    select{
        // border: none;
        box-shadow: none;
        -webkit-appearance: none;
        option{
            display: block;
            width: 100%;
            padding: 0;
            outline: none;
            border: 1px solid $bg_white;
            border-top-color: $button_inactive;
            @include transition(border-color);
            // padding: 10px 20px;
            &:last-of-type{
                border-bottom-color: $button_inactive;
            }
            &:hover{
                border: 1px solid $button_hover;
                background-color: $bg_white;
            }
        }
    }
}
.comment-dropfiles{
    width: 100%;
    height: 210px;
    margin-bottom: 35px;
    border: 1px dashed $font-gray;
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    background-color: $bg_white;
    b, span{
        display: block;
        @include text-style_main($weight_normal, $font_black, 22px);
    }
    span{
        font-weight: $weight_light;
        &:nth-of-type(2){
            margin: 20px 0;
        }

    }
}

.comment-btn{
    width: 280px;
    margin-right: 40px;
}
.comment-requiremence{
    @include text-style_main($weight_light, $font_gray, 22px);
    padding-top: 25px;
}

.comment-select{
    width: 100%;
    button{
        display: block;
        width: 100%;
        @include text-style_main($weight_normal, $font_black, 22px);
        padding: 10px 20px;
        // border: 1px solid $font-gray;
        box-sizing: border-box;
        margin-bottom: 35px;
        background-color: $bg_white;
        position: relative;
        &:hover{
            background-color: $bg_white;
        }
        &::after{
            font-family: "material-design-iconic-font";
            content: '\f2f9';
            // '\f2fc'
            position: absolute;
            display: block;
            top: calc(50% - 10px);
            right: 20px;
        }
    }
    // .dropdown-content{
    //     top: 46px;
    //     background-color: $bg_white;
    //     width: 100%;
    //     a{
    //         box-sizing: border-box;
    //         border: 1px solid $bg_white;
    //         border-top-color: $button_inactive;
    //         @include transition(border-color);
    //         &:last-of-type{
    //             border-bottom-color: $button_inactive;
    //         }
    //         &:hover{
    //             border: 1px solid $button_hover;
    //             background-color: $bg_white;
    //         }
    //     }
        
    // }
}

@media(min-width:700px){
    .comment-form{
        width: 670px;
    }
    .comment-inputs{
        width: 55%;
    }
    .comment-dropfiles{
        width: calc(45% - 35px);
        margin-left: 35px;
    }
    .comment-requiremence{
        line-height:  46px;
        padding-top: 0;
    }
}

//dropzone

.dz-message{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: $bg_white;
    z-index: 10;
    border-style: dashed;
}

.dz-preview{
    top: 0;
    right: -200px;
    margin: 0;
    // @include flex;
    // .dz-filename span{
    //     @include text-style_main($weight_normal, $font_black, 26px);
    // }
    span[data-dz-name]{
        @include text-style_main($weight_normal, $font_black, 26px);
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: 100px;
    }
}
.dropzone .dz-preview .dz-remove:hover{
    color: #D0021B;
}
//labels

.comment-form{
    .comment-inputs{
        position: relative;
    }
    label{
        position: absolute;
        // top:-105px; 
        margin-top: -105px;
        left: 0;
        color: $font_gray;
        visibility: visible;
    }
    input:focus + label{
       visibility: visible;
    }
    select:focus + label{
        visibility: visible;
    }
    // input:invalid{
    //     box-shadow: none;
    //     border-color: red;
    // }
    input:placeholder-shown + label{
        visibility: hidden;
    }
    .comment-textarea{
        position: relative;
        width: 100%;
        label{
            visibility: visible;
            position: absolute;
            color: $font_gray;
            left: 0;
            top: -20px;
            margin-top: 0;
        }
    }
    textarea:focus + label{
        visibility: visible;
    }
    textarea:placeholder-shown + label{
        visibility: hidden;
    }
} 

//thankyou message

.comment-thankyou{
    // position: absolute;
    // top: 0;
    // left: 0;
    background-color: $bg_section;
    width: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    @media(min-width:768px){
        padding-bottom: 115px;
        margin-bottom: 105px;
    }
    @media(min-width:1024px){
        background-image: url('../img/bg_full.png');
    }
    h2{
        margin-bottom: 60px;
    }
    p{
        margin-bottom: 30px;
        max-width: 415px;
        @include text-style_main($weight_normal, $font_h2, 28px);
    }
    button{
        min-width: 205px;
    }
}
.all_offers{
    padding-bottom: 50px;
    @media(min-width:768px){
        padding-bottom: 105px;
    }
    h2{
        margin-bottom: 35px;
    }
    a{
        margin-bottom: 35px;
    }
}
#thankyou-popup{
    display: none;
}