.stickytop {
	position: fixed;
	top:0;
	z-index: 100;
}
.invisible {
	display: none;
}
.header_wrapper_hidebig {
	display: none;
}
.header_wrapper_big {
	display: none;
}
.header_mobile {
	@include flex;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 40px;
	background-color: rgb(17,24,32);
	color: $font_white;
	font-family: $main_font;
	font-weight: $weight_normal;
}
.header_mobile_burger {
	align-self: center;
    width: 32px;
    text-align: center;
}
.header_mobile_logo {
	 font-weight: $weight_bold;
	 font-size: 24px;
	 letter-spacing: 1px;
	 text-transform: uppercase;
	 color: $font_white;
}
.header_mobile_cart {
	border: none;
	background: none;
	padding: 0;
	@include flex;
	color: $font-white;
}
.header_cart-btn{
	border: none;
	background: none;
	padding: 0;
	&:disabled{
		.shopping-cart_number{
			background: #6d6d6d;
		}
	}
}
.header_cart_buy {
	@include flex;
	align-self: center;
	padding: 0;
	border-style: none;
	font-size: 14px;
	text-decoration: none;
	font-weight: $weight_normal;
	outline: none;
	background-color: $bg_white;
	cursor: pointer;
	a{
		@include flex;
	}
}
.shopping-cart_number {
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	position: relative;
	top: -10px;
	left: -5px;
	background-color: rgb(0,113,186);
	color: $font_white;
	text-align: center;
	font-family: $main_font;
	font-size: 12px;
	font-weight: $weight_bold;
	z-index: 1;
}
.mobile_menu {
	display: none;
	width: 100%;
	height: 300px;	
	background-color: rgb(17,24,32);
	color: $font_white;
	top: 40px;
	position: fixed;
	z-index: 100;
}
.mobile_menu_main {
	display: block;
	height: 165px;
	background-color: rgb(17,24,32);
	color: $font_white;
	font-family: $main_font;
	font-size: 18px;
	font-weight: $weight_light;
	li {
		display: block;
		margin: 20px;
		font-size: 16px;
		padding-left: 20px;
		a {
			text-decoration: none;
			color: $font_white;
			:visited {
				color: $font_white;
			}
		}
	}
}
.mobile_callus {
	@include flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: column;
	align-items: left;
	margin-left: 65px;
	span {
		padding-bottom: 5px;
	}
}
.mobile_callus-tel {
	font-weight: $weight_normal;
	color: $font_white;
}
.mobile_icon_phone {
	width: 18px;
	height: 18px;
	position: relative;
	top: 25px;
	left: -25px;
}
.mobile_callus-btn {
	margin: 0 auto;
	width: 225px;
	height: 35px;
	margin-left: 40px;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: $font_white;
	background-color: rgb(17,24,32);;
	box-sizing: border-box;
	color: $font_white;
	font-size: 18px;
	text-decoration: none;
	font-weight: $weight_light;
	&:active{
		transform: translateY(1px);
	}
}

@media screen and (min-width: 872px){
	.header_mobile {
		display: none;
	}
	.mobile_menu {
		display: none;
	}
	.header_wrapper_hidebig {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 40px;
		background-color: rgb(17,24,32);
		color: $font_white;    
	}
	.header_wrapper_hidesmall {
		@include flex;
		font-size: 18px;
		font-weight: 500;
		// justify-content: space-between; Enable this to show Language menu correctly
		justify-content: flex-end;
		box-sizing: border-box;
		background-color: rgb(17,24,32);
		color: $font_white;
	}
	// CHOOSE LANGUAGE MENU


	.header_lang {
		position: relative;
		display: inline-block;
		width: 89px;
		box-sizing: border-box;
		border-left: solid 1px rgb(53, 59, 66);
		border-right: solid 1px rgb(53, 59, 66);
		font-size: 18px;
		font-weight: $weight_normal;
		line-height: 40px;
		box-sizing: border-box;
		z-index: 999;
	}

	#qtranslate-chooser {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 40px;
		line-height: 40px;
		color: $font_white;
		box-sizing: border-box;		
		li{
			display: none;
			order: 2;
			width: 100%;
			background-color: rgb(17,24,32);
			padding-left: 20px;
			height: 40px;
			border-top: solid 1px rgb(53, 59, 66);
			&:last-of-type {
				border-bottom: solid 1px rgb(53, 59, 66);
			}
			a{
				color: $font_white;
			}
			&:hover{
				&:not(:first-child){
					cursor: pointer;
				}
			}
		}
		li.active{
			display: block;
			order: 1;
			border-top: none;
		}
	}
	.qtranxs_widget_end{
		display: none;
	}
	.chevron_up{
		&::after{
			content: '';
			position: absolute;
			font-family: 'Material-Design-Iconic-Font';
			font-size: 20px;
			right: 10px;
			content: "\f2fc";
			color: $font_white;
		}
	}
	.chevron_down{
		&::after{
			content: '';
			position: absolute;
			font-family: 'Material-Design-Iconic-Font';
			font-size: 20px;
			right: 10px;
			content: "\f2f9";
			color: $font_white;
		}
	}

	.stickytop {
		position: fixed;
		top:0
	}
	.invisible {
		display: none;
	}

	// END OF CHOOSE LANGUAGE MENU

	.header_callus {
		@include flex;
		align-items: center;
		font-size: 14px;
		line-height: 40px;
		text-align: center;
	}
	.header_callus_tel {
		width: 186px;
		color: $font_white;
		border-left: solid 1px rgb(53, 59, 66);
		border-right: solid 1px rgb(53, 59, 66);
	}
	.zmdi-phone{
		color: rgba(255,255,255,0.5);
	}
	.header_callus_text {
		width: 235px;
		border-right: solid 1px rgb(53, 59, 66);
		font-weight: $weight_light;
	}
	.header_wrapper_big {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 70px;
		background-color: $bg_white;
	}
	.header_wrapper_small {
		height: 70px;
		background-color: $bg_white;
		@include flex;
		align-items: center;
		justify-content: space-between;
		font-size: 18px;
		font-weight: 500;
		box-sizing: border-box;
	}
	.header_logo {
		width: 175px;
		height: 47px;
	}
	.header_menu {
		@include flex;
		justify-content: center;
		width: 60%;
		li {
			display: block;
			float: left;
			font-size: 14px;
			font-weight: $weight_normal;
			color: rgb(17,24,32);
			padding: 20px;
			a{
				&:hover{
						color: #0071BA;
				}
			}
			&:first-of-type{
				padding-left: 0px;
			}
			&:last-of-type {
				padding-right: 0px;
			}
		}
	}
	.header_menu_main {
		max-width: 475px;
		@media screen and (max-width: 870px) {
			font-size: 16px;
			padding: 5px;
		}
	}
	.header_cart {
		@include flex;
		width: 20%;
		justify-content: flex-end;
		align-items: center;
	}
	.header_cart_call-button {
		width: 100%;
		height: 35px;
		cursor: pointer;
		border-style: solid;
		border-width: 1px;
		border-color: $button_normal;
		background-color: rgb(255,255,255);
		box-sizing: border-box;
		color: $button_normal;
		font-size: 10px;
		text-decoration: none;
		outline: none;
		@include transition(background-color);
		&:hover{
			background-color: $button_hover;
			color: $font_white;
		}
		&:active{
			transform: translateY(1px);
		}
	}
	.header_cart_call {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		font-size: 8px;
	}
	.header_cart_call-tel {
		display: block;
		font-family: $main_font;
		font-weight: $weight_light;
		font-size: 9px;
		padding: 5px 0;
	}

	.shopping-cart_number {
		top: -10px;
		left: -5px;
	}
}

@media screen and (min-width: 1040px){
	.header_cart_call {
	font-size: inherit;
	}
	.header_cart_call-button {
		font-size: inherit;
		width: 225px;
	}
	.header_cart_call-tel{
		font-size: 16px;
		padding: 5px;		
	}
}