.backToCart{
    display: block;
    color: $font-gray;
    margin-bottom: 70px;
}
.order{
    margin-top: 50px;
    h2{
        margin-bottom: 60px;
    }
    @media (min-width:872px){
        margin-top: 50px;
    }
}
.order_container{
    width: 100%;
    @include flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    @media (min-width:768px){
        flex-direction: row;
    }
}
.order_make{
    flex: 1;
    background-color: $bg_white;
    max-width: 570px;
    @media (min-width:768px){
        margin-right:30px;
    }
}
.order_make_item{
    margin-bottom: 20px;
    min-height: 86px;
}
.order_list{
    flex: 1;
    background-color: $bg_section;
    border: solid 1px $button_inactive;
    margin-bottom: 20px;
    ul{
        margin: 25px;
    }
    @media (min-width:768px){
        margin-bottom: 0;
    }
}
.order_item{
    border-bottom: solid 1px $bg_white;
    padding-bottom: 15px;
    &:last-child{
        border-bottom: none;
        margin-bottom: 35px;      
    }
    h3{
        color: $font_black;
    }
}
.order_item_price{
    @include flex;
    justify-content: space-between;
    p{
        @include text-style_main($weight_light, $font_black, 22px);
    }
}
.order_price_total{
    margin-top: 30px;
    padding: 15px 0 0 0;
    border-top: solid 1px $bg_white;
    font-size: 24px;
    font-weight: $weight_normal;
    line-height: 29px;
    color: $font_black;
    p{
        span{
            font-size: 24px;
        }
    }
}
.order_price_note{
    font-size: 16px;
    font-weight: $weight_light;
    line-height: 19px;
    color: $font_black;
}
.order_make_name{

    box-sizing: border-box;
    background-color: $bg_section;
    width: 100%;
    min-height: 86px;
    padding: 30px 0;
}
.order_edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_make_title{
    position: relative;
    display: inline-block;
    margin-left: 55px;
    font-size: 24px;
    font-weight: $weight_normal;
    line-height: 29px;
    box-sizing: border-box;
}
.order_make_comment{
    @include text-style_main($weight_light, $font_black, 22px);
    margin: 10px 0 0 55px;
}
.order_delivery{
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    &::before{
        position: absolute;
        left: -35px;
        content: '1';
        font-size: 36px;
        font-weight: $weight_light;
        color: rgb(0,113,186);
    }
}
.order_delivery_form{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: $bg_white;
    label,
    span {
        display: block;
        max-width: 295px;
        font-size: 16px;
        font-weight: $weight_light;
        color: $font_gray;
        line-height: 19px;
        @media (min-width:395px){
            max-width: 366px;
        }
    }
    // input{
    //     display: block;
    //     width: 295px;
    //     height: 46px;
    //     background-color: $bg_section;
    //     @include text-style_main($weight_normal, $font_black, 22px);
    //     outline: none;
    //     border: solid 1px $button_inactive;
    //     margin: 7px 0 15px;
    //     padding: 0 0 0 25px;
    //     box-sizing: border-box;
    //     @media (min-width:395px){
    //         width: 366px;
    //     }
    // }
    
    // CHANGE THE COLOR OF THE PLACEHOLDER
    ::-webkit-input-placeholder { /* Chrome */
        color: $font_black;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $font_black;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $font_black;
        opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
        color: $font_black;
        opacity: 1;
    }
}

.post-office_select{
    display: block;
    width: 295px;
    height: 46px;
    background-color: $bg_section;
    @include text-style_main($weight_normal, $font_black, 22px);
    outline: none;
    border: none;
    border-radius: 0;
    margin: 7px 0 10px;
    padding: 0 0 0 25px;  
    @media (min-width:395px){
        width: 366px;
    }
}
.order_delivery-choose{
    display: block;
    margin: 7px 0 10px;
    width: 366px;
    height: 46px;
    label{
        width: 50%;
        height: 46px;
        @include text-style_main($weight_bold, $button_normal, 22px);
        text-align: center;
        border: 2px solid $button_normal;
        padding: 10px 0;
        display: inline-block;
        cursor: pointer;
        &:last-of-type{
            margin-left: -6px;
        }
    }
    input{
        display: none;
    }
    input:checked + label{
        background-color: $button_normal;
        color: $font_white;
    }
}
.order_deliver-courier{
    display: none;
    margin: 0 0 50px;
    box-sizing: border-box;
    input{
        width: 295px;
        height: 46px;
        background-color: $bg_section;
        @include text-style_main($weight_normal, $font_black, 22px);
        outline: none;
        border: solid 1px $button_inactive;
        margin: 7px 0 15px;
        padding: 0 0 0 25px;
        box-sizing: border-box;
        @media (min-width:395px){
            width: 366px;
        }
    }
    textarea{
        box-sizing: border-box;
        width: 295px;
        height: 207px;
        background-color: $bg_section;
        @include text-style_main($weight_normal, $font_black, 22px);
        outline: none;
        border: solid 1px $button_inactive;
        resize: none;
        padding: 0 0 0 25px;
        margin: 7px 0 15px;
        @media (min-width:395px){
            width: 366px;
        }
    }
}
.order_input{
    display: block;
    width: 295px;
    height: 46px;
    background-color: $bg_section;
    @include text-style_main($weight_normal, $font_black, 22px);
    outline: none;
    border: solid 1px $button_inactive;
    margin: 7px 0 15px;
    padding: 0 0 0 25px;
    box-sizing: border-box;
    @media (min-width:395px){
    width: 366px;
    }
}
.order_label{
    opacity: 0;
    
}
#order_post-office_number{
    width: 183px;
    margin: 7px 0 50px;
}
#order_time{
    width: 130px;
}
.order_choose-time{
    width: 295px;
    box-sizing: border-box;
    @include flex;
    justify-content: flex-end;
    align-items: center;
    margin: 7px 0 15px;
    span{
        display: block;
        margin: 0 15px;
    }
    input{
        width: 130px;
        border: solid 1px $button_inactive;
        margin: 0;
        text-align: center;
        padding: 0 0 0 17px;
        // @media (min-width:395px){
        //     padding: 0 0 0 30px;
        // }
    }
    @media (min-width:395px){
        width: 366px;
    }
}
#orderGo{
    width: 280px;
}



.order_pay {
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    color: $button_inactive;
    &::before{
        position: absolute;
        left: -35px;
        content: '2';
        font-size: 36px;
        font-weight: $weight_light;
        color: rgb(0,113,186);
    }
}
.order_pay_container{
    background-color: $bg_white;
    margin-left: 55px;
}
.order_payment-list{
    display: none;
    background-color: $bg_white;
    padding: 30px 0;
}
.order_payment_method{
    cursor: pointer;
    border-bottom: solid 1px $button_inactive;
    background-color: $bg_white;
    padding: 20px 0 20px 55px;
    margin-bottom: 0;
    &:last-of-type{
        border-bottom: none;
    }
    h4{
        @include text-style_main($weight_normal, $font_black, 26px);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            height: 30px;
            top: 5px;
            left: -40px;
        }
    }
    p{
        @include text-style_main($weight_light, $font_gray, 26px);        
    }
}
.pay_cod{
    &::before{
        background-image: url('../img/icons/pay_cod.svg');        
    }
}
.pay_account{
    &::before{
        background-image: url('../img/icons/pay_account.svg');        
    }
}
.pay_online{
    &::before{
        background-image: url('../img/icons/pay_online.svg');        
    }
}
.pay_cash{
    &::before{
        background-image: url('../img/icons/pay_cash.svg');        
    }
}
.pay_card{
    &::before{
        background-image: url('../img/icons/pay_card.svg');        
    }
}
.order_done{
    color: $button_inactive;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    &::before{
        position: absolute;
        left: -35px;
        content: '3';
        font-size: 36px;
        font-weight: $weight_light;
        color: rgb(0,113,186);
    }
}






.order_done_message{
    display: none;
    background-color: $bg_white;
    padding: 37px 0;
    h3{
        font-size: 24px;
        font-weight: $weight_bold;
        color: $font_black;
        line-height: 34px;
    }
    p{
        @include text-style_main($weight_light, $font_black, 26px);
        margin: 10px 0;
    }
    button{
        margin-top: 35px;
        width: 206px;
    }
}