// SECTION TITLE
.furnitura_title{
    width: 100%;
    margin: 0 auto;
    background-color: $bg_black;
    @media (max-width:872px){
        padding-top: 50px;
    }
}
.furnitura_title_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1820px;
    background-image: url('../img/products/Product_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 10% bottom;
    background-color: $bg_black;
    @include flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width:872px){
        height: 320px;
        background-position: right 20px bottom;
    }
    @media (min-width:1024px){
        height: 420px;
        background-position: right -150px bottom;
    }
    @media (min-width:1440px){
        height: 620px;
        background-size: auto;
    }
}
.furnitura_title_wrapper-small{
    @include flex;
    flex-direction: column;
    align-items: left;
    h3{
        // background-color: rgba(17,24,32,0.5);
        // @media (min-width:1440px){
        // }      
    }
}
.furnitura_h3_product{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 15px;
    letter-spacing: 5px;
    text-align: left;
    @media (min-width:769px) {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 40px;
    }
    @media (min-width:1024px) {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 50px;
    }
}
.furnitura_products-title{
    max-width: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 15px;
    display: inline-block;
    // background-color: rgba(17,24,32,0.1);
    @media(min-width:769px){
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 30px;
        max-width: 520px;
    }
    @media(min-width:1024px){
        margin-bottom: 50px;
        // font-size: 36px;
        // line-height: 46px;
        font-size: 48px;
        line-height: 60px;
    }
}
// END OF SECTION TITLE

// SECTION VIDEO
.furnitura_video{
    margin: 0 auto;
    width: 100%;
    @include flex;
    justify-content: center;
    position: relative;
    @include flex;
    justify-content: flex-start;
    align-items: center;
    @media (min-width:1024px){
        justify-content: center;
    } 
}
.furnitura_video_wrapper{
    // top: 40px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 4%;
    z-index:3;
    padding: 3% 0;
    @media (min-width:768px){
        margin-left: 10%;
        
    }
    @media (min-width:1024px) and (max-width: 1290px){
        padding-left: 10%;
    }
    @media (min-width:1024px){
        margin-left: 10%;
        top: 10%
    }
    @media (min-width:1200px){
        top: 25%;
        margin-left: calc(50% - 600px);
        // padding: 0;
    }
}
.furnitura_video_pic{
    width: 100%;
    height: 100%;
    // min-height: 300px;    
}
.furnitura_video_h3{
    margin: 0 0 10px;
    max-width: 600px;
    font-family: $main_font;
    font-weight: 700;    
    color: $font_white;
    font-size: 16px;
    line-height: 33px;
    @media (min-width:1024px){
        // font-size: 36px;
        font-size: 48px;
        line-height: 57px;
        margin: 0 0 50px;
    }
    @media (min-width:1440px){
        margin: 0 0 100px;
    }
    span{
        font-weight: $weight_bold;
        font-size: 24px;
        @media (max-width:768px){
            display: block;
        }
        @media (min-width:768px){
            font-size: 35px;
            font-weight: $weight_super_bold;
        }
    }
}
.main-page_video-link{
    display: block;
    // color: $font_white;
    margin: 15px 0;
    &:visited{
        color: $font_white;
    }
}
// END OF SECTION VIDEO

// SECTION DOWNLOAD
.furnitura_download{
    background-color: $bg_section;
    @include text-style_main($weight_light, $font_h2, 22px);    
}
.furnitura_wrapper{
    // padding-bottom: 15px;
    padding: 0 0 40px 0;
    p{
        padding: 15px 0;
        @media (max-width:768px) {
            font-size: 16px;
            line-height: 22px;            
        }
    }
    @media (min-width:872px) {
        @include flex;
        align-content: center;
        align-items: center;
        // padding-bottom: 0;        
        p{
            // margin: 40px 35px 40px 0;
            margin: 0 35px 0 0;
            padding: 0;
        }
    }
}
// END OF SECTION DOWNLOAD

// SECTION CHOOSE
.choose_wrapper{
    box-sizing: border-box;
    margin-bottom: 50px;
    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        @media (min-width:872px){
            margin-top: 125px;
        }
    }
    p{
        max-width: 550px;
        font-family: $main_font;
        font-weight: $weight_light;
        font-size: 18px;
        line-height: 26px;
        color: $font_h2;
        margin-bottom: 15px;
        @media (max-width:768px) {
            font-size: 16px;
            line-height: 22px;            
        }
        @media (min-width:872px){
            margin-bottom: 70px;            
        }
    }
}
.furnitura_choose_options{
    margin: 0 auto;
    width: 100%;
    @include flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;   
    @media (min-width:872px){
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
.furnitura_choose_btn{
    width: 265px;
    height: 46px;
    @media (min-width:872px){
        margin: 15px 0;
    }
    @media (min-width:1024px){
        align-self: flex-end;
    }
}
.furnitura_choose_title{
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-weight: $weight_light;
    color: $font_black;
    margin: 5px 0;
}
// DROPDOWN MENU
/* Dropdown Button */
.dropbtn {
    margin: 0 auto;
    width: 265px;
    height: 46px;
    background-color: $bg_section;
    color: $font_black;
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    font-weight: $weight_normal;
    border: none;
    cursor: pointer;
    outline: none;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: $bg_section;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $bg_section;
    width: 265px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: $font_black;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    font-weight: $weight_normal;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
// END OF DROPDOWN MENU

.furnitura_choose_height,
.furnitura_choose_width {
    @media (min-width:1024px){
        width: 25%;
    }    
}

// RANGE SLIDER
.range-slider {
  height: 46px;
  text-align: center;
  @include flex;
  align-items: center;
  span{
      padding: 0 25px;
      color: $font_black;
      font-size: 18px;
      font-weight: $weight_normal;
      line-height: 22px;
      text-align: center;
  }
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 2px;
    outline: none;
    background-color: $button_inactive;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: $button_normal;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    border: 0 none;
    cursor: pointer;
    transform: rotate(-45deg);
    &:hover{
        background-color: $button_hover;
    }
    &:disabled{
        background-color: $button_inactive;
        cursor: default;
    }
}
input[type='range']:disabled::-webkit-slider-thumb {
    background-color: $button_inactive;
    cursor: default;
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    background-color: $button_normal;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    border: 0 none;
    cursor: pointer;
    -moz-transform: rotate(-45deg);
    &:hover{
        background-color: $button_hover;
    }
}
input[type='range']:disabled::-moz-range-thumb {
    background-color: $button_inactive;
    cursor: default;
}
  /* All the same stuff for IE */
input[type=range]::-ms-thumb {
    background-color: $button_normal;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    border: 0 none;
    cursor: pointer;
    -ms-transform: rotate(-45deg);
    &:hover{
        background-color: $button_hover;
    }
}
input[type='range']:disabled::-ms-thumb {
    background-color: $button_inactive;
    cursor: default;
}
// END OF RANGE SLIDER

// END OF SECTION CHOOSE


// SECTION FURNITURA PRODUCTS
.furnitura_products{
    margin: 0 auto;
    width: 100%;
}
.furnitura_products_wrapper{
    margin: 0 auto 15px;
    max-width: 1820px;
    background-color: $bg_section;
    @media (min-width:872px){
        margin: 0 auto 50px;        
    }
}
.furnitura_products_warranty{
    align-self: flex-start;
}
.furnitura_products_chars{
    min-width: 50%;
    z-index: 2;
    @media (max-width:872px){
        min-width: 40%;
    }
}
.furnitura_products_single{
    position: relative;    
    margin: 0 auto;
    padding: 15px 0;
    @include flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    @media (min-width:872px){
        margin: 0 auto 50px;   
        padding: 80px 0;
        &:last-of-type{
            padding:80px 0 0 0;
        }      
    }
}
.furnitura_products_img{
    position: absolute;
    left: 50%;
    img{
        width: 100%;
        opacity: 0.5;
        @media (min-width:480px){
            max-width: 80%;
            left: 50%;
            opacity: 0.9;
        }
        @media (min-width:872px){
            position: static;
            max-width: none;
            opacity: 1;
        }
    }
}
.furnitura_chars_buttons{
    margin-bottom: 15px;    
    @media (min-width:872px){
        margin-bottom: 80px;        
    }
    button{
        display: inline-block;
        margin: 0 30px 0 0;
        @media(max-width:921px){
            display: block;
            margin: 0 30px 15px 0;
        }
    }
    .ghost_btn{
        @media(max-width:425px){
            display: none;
        }
    }
}
.ghost_link{
    display: block;
    margin: 20px 0;
    @media(min-width:426px){
        display: none;
    }
}
.furnitura_chars_set{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: left;
    color: $font_black;
    @media (min-width:769px) {
        font-size: 14px;
        line-height: 17px;
    }
    @media (min-width:1024px) {
        font-size: 14px;
        line-height: 17px;
    }
}
.furnitura_chars_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    color: $font_h2;
    margin-bottom: 22px;
}
.furnitura_chars_main{
    margin-bottom: 15px;
    @include text-style_main($weight_light, $font_h2, 18px);
    font-size: 12px;
    li{
        margin-left: 25px;
        position: relative;
        // b{
        //     font-weight: $weight_bold;
        // }
        &::before{
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            // top: -5px;
            left: -25px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .furnitura_chars_main-width::before{
        background-image: url('../img/icons/icon_width.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .furnitura_chars_main-weight::before{
        background-image: url('../img/icons/icon_weight.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media(min-width:872px){
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 32px;
        li{
            margin-left: 32px;
            &::before{
                left: -32px;
                top: 5px;
            }
        }
    }
}
.furnitura_chars_additional{
    margin-bottom: 45px;
    margin-left: 32px;
    @include text-style_main($weight_light, $font-gray, 32px);
    display: none;
    @media(min-width:769px){
        display: block;
    }
}
.furnitura_chars_price,
.furnitura_chars_price_add{
    font-weight: $weight_normal;
    font-size: 36px;
    line-height: 46px;
    color: $button_normal;
    // color: $font_black;
    vertical-align: bottom;
    span{
        font-size: 18px;
    }
}
.furnitura_chars_price_add{
    display: none;
}    
.furnitura_products_end{
    margin: 0 auto 50px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1820px;
    background-color: $bg_white;
    border-bottom: solid 2px $bg_section;
    @media (min-width:872px){
        margin: 0 auto 115px; 
        padding-bottom: 0;      
    }
}
.furnitura_products_more{
    margin: 0 0 0 15px;
    @media (min-width:872px){
        margin: 50px auto;
    }
}
.whitespace{
    width: 100%;
    height: 100px;
    background-color: $bg_white;
}
// END OF SECTION FURNITURA PRODUCTS

// SECTION FURNITURA OFFER
.furnitura_offer{
    h2{
        margin-bottom: 25px;
    }
    @media (min-width:872px){
        padding-bottom: 140px;
        h2{
            margin-bottom: 60px;
        }
    }
}
.offer-filenka2{
    background-image: url('../img/offer_filenka.png');
    background-color: $bg_black;
}
.offer-automatica{
    background-image: url('../img/offer_automatica.png');
    background-color: $bg_black;    
}
// END OF SECTION FURNITURA OFFER