.main-page_video{
    position: relative;
    width: 100%;
    margin: 40px auto 0!important;
    overflow: hidden;
    @media(min-width:872px){
        margin: 0 auto!important;
        max-height: calc(100vh - 110px);
    }
}
.main-page_video-video{
    // position: absolute;
    // z-index: -1;
    width: 100%;
    min-width: 390px;
    // top:0;
}
.main-page_video_caption{
    z-index: 3;
    position: relative;
    top: 15%;
}
.main-page_video-about{
    padding-top: 10px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}
@media (min-width:480px){
    top:30%;
    .main-page_video-about{
        margin-bottom: 25px;
    }
} 
@media (min-width:768px){
    top:25%;
    .main-page_video-title{
        margin-bottom: 15px;
    }
    .main-page_video-about{
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 34px;
    }   
}
.main-page_video-link{
    color: inherit;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    font-weight: $weight_normal;
    @media (min-width:768px){
        font-size: 18px;
        line-height: 22px;
    }
}
.main_page_video-scroll{
    visibility: hidden;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 45px;
    z-index: 2000;
    color: rgba(255,255,255, .5);
    border-radius: 40px;
    padding: 8px 8px 20px;
    border: 2px solid rgba(255,255,255, .15);
    i{
        font-size: 18px;
    }
    @media (min-width:1024px){
        visibility: visible;
    }
}
.video-fullscreen_logo{
    position: absolute;
    background-color: rgba(255,255,255, .3);
    left: 20px;
    top: 15px;
}

//for mobile

.video-alt-img{
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-page_video-video{
    visibility: hidden;
}
@media(min-width: 1024px){
    .main-page_video-video{
        visibility: visible;
    } 
    .video-alt-img{
        visibility: hidden;
    }
}