.main-page_certificates{
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: $bg_section;
    margin-bottom: 30px;
    @media (min-width:1024px){
        padding-top: 120px;
        padding-bottom: 140px;
        margin-bottom: 115px;
    }
    .slider{
        width: auto;
        overflow: hidden;
        }
    .slides{
        margin: 0 auto;
        // margin-bottom: 15px;
        @media (min-width:1024px){
            margin-bottom: 45px;
        }
    }
    .slide{
        display: inline-block;
        height: 150px;
        width: 117px;
        margin: 0 5px 20px;
        img{
            display: block;
            height: 100%;
            width: auto;
            filter: brightness(0.9) grayscale(100%);
            @include transition (filter);
            &:hover{
                filter: none;
            }
        }
        @media (min-width:1024px){
            height: 347px;
            width: 270px;
            margin: 0 17px 20px;
        }
    }
}

.main-page_certificates_title{
    margin-bottom: 40px;
    @media (min-width:768px){
        margin-bottom: 100px;
    }
}
@media(min-width:1024px){
    .main-page_certificates > .slider{
        margin-bottom: 45px;
    }
}

.main-page_certificates_slider{
    .fur-set_slider-controls{
        button{
            background: none;
        }
    }
}

#main-page_certificates_scroll-wrapper{ 
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    width: calc(100% - 30px);
    margin: 0 auto 40px;
}