.main_benefits {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 15px;
	@include flex;
	justify-content: center;
	align-items: center;
}
.main_benefits_container{
  white-space: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
  vertical-align: top;
}
.main_benefits_single{
	display: inline-block;
	width: 300px;
	height: auto;
	margin-bottom: 10px;			
	box-sizing: border-box;
	text-align: left;
	vertical-align: top;
	overflow: hidden;
	white-space: normal;
	padding: 0 15px;
	h3 {
		color: $font_black;
		font-size: 24px;
		line-height: 29px;
		font-stretch: normal;
		font-weight: $weight_bold;
		text-align: left;
		// font-weight: $weight_bold;
		// min-height: 80px;
		overflow: hidden;
	}
	p {
		display: block;
		@include text-style_caption;
		overflow: hidden;
		@media (max-width:768px){
			font-size: 16px;
			line-height: 22px;
		}
	}
}
.main_benefits_icon {
    width: 150px;
    height: 110px;
    align-self: flex-start
}
@media screen and (min-width: 769px) {
	.main_benefits {
		padding-top: 150px;
	}
	.main_benefits_single{
		// height: 380px;
		margin-bottom: 85px;		
		h3 {
			margin-top: 50px;
			margin-bottom: 20px;
		}
	}
	.main_benefits_container {
    @include flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
	}
}
@media screen and (min-width: 1200px){
	.main_benefits{
		padding-top: 100px;
	}
	.main_benefits_container{
		justify-content: space-between;
	}
	.main_benefits_single{
		width: 350px;
		padding: 0;
	}
}